/* .card{
    display: inline-block;
    width: 700px;
    height: 550px;
    text-align: center;
    margin-left: 500px;
    margin-top: 10px;
} */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 30px;
    }
    
    .card {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    
    p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    }
    
    button {
    margin-right: 10px;
    }