

<div>
    <div>
        <div>
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>
                            UserId
                        </th>
                        <th>
                            Id
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Body
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{arr1.userId}}</td>
                        <td>{{arr1.id}}</td>
                        <td>{{arr1.title}}</td>
                        <td>{{arr1.body}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
