<!-- 

<div>
    <div>
        <div>
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Username
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            Phone
                        </th>
                        <th>
                            Website
                        </th>
                        <th>
                            Company
                        </th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{arr1.id}}</td>
                        <td>{{arr1.name}}</td>
                        <td>{{arr1.username}}</td>
                        <td>{{arr1.email}}</td>
                        <td>{{arr1.address.city}}</td>
                        <td>{{arr1.phone}}</td>
                        <td>{{arr1.website}}</td>
                        <td>{{arr1.company.name}}</td>             
                       

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->

