<div class="container">
  <div class="row justify-content-center">
    <h3>Assignment Reactive Form</h3>
    <div class="col-md-6 text-left rounded shadow py-6 ">
      <form [formGroup]="myReactiveForm" (ngSubmit)="OnSubmit()">
        <div class="form-group">
          <label id="email" for="email">Email</label>
          <input type="text" formControlName="email" class="form-control" id="email" placeholder="Enter email address">
          <small class="text-danger"
            *ngIf="!myReactiveForm.get('email').valid && myReactiveForm.get('email').touched">Please enter valid
            email</small>
        </div><br>

        <div class="form-group">
          <label id="subscription" for="subscription">Subscription</label>
          <select formControlName="subscription" id="subscription" class="form-control">
            <option value="Basic">Basic</option>
            <option value="Advanced">Advanced</option>
            <option value="Pro">Pro</option>
          </select>
        </div><br>

        <div class="form-group">
          <label id="password" for="password">Password</label>
          <input type="password" formControlName="password" placeholder="Enter Password" class="form-control">
          <small class="text-danger"
            *ngIf="!myReactiveForm.get('password').valid && myReactiveForm.get('password').touched">Please enter
            password</small>
        </div><br>

        <div class="form-group">
          <label id="date" for="date">Date</label>
          <input type="date" formControlName="date" placeholder="Enter Date" [min]="getToday()" />
          <div class="text-danger"
            *ngIf="!myReactiveForm.get('date').valid && (myReactiveForm.get('date').required || myReactiveForm.get('date').touched)">
            Date must be today or a future date
          </div>
        </div>

        <!-- <div class="form-group">
              <label for="date"> Date </label>
              <input type="date" formControlName="date" class="form-control" name="date" [min]="getToday()">
            </div>
            <div class="form-group">
              <div class="text-danger" 
              *ngIf="!myReactiveForm.get('date').valid && 
              myReactiveForm.get('date').touched">
                  Date is required and date must be Today or Future Date..
              </div>
            </div> -->

        <!-- <div class="form-group">
                <label id="date" for="date">Date</label>
                <input class="date" matInput [min]="minDate" [matDatepicker]="picker" id="minDate" >            
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>                         
                <mat-datepicker #picker></mat-datepicker>
            </div> -->


        <button type="submit" class="btn btn-primary">Submit</button>


      </form>

    </div>
  </div>
  <div class="row justify-content-center mt-2" *ngIf="isSubmitted">
    <div class="col-md-6 rounded shadow py4">
      <h2>Form Data</h2>
      <p>Email: <strong> {{ myReactiveForm.get('email').value}}</strong></p>
      <p>Subscription : <strong> {{ myReactiveForm.get('subscription').value}}</strong></p>
      <p>Password : <strong> {{ myReactiveForm.get('password').value}}</strong></p>
      <p>Date : <strong> {{myReactiveForm.get('date').value}}</strong></p>
    </div>
  </div>