

<div class="row">
    <div class="col-md-12">
      <div class="block">
        <div class="card" >
          <img style="height: 350px;" class="card-img-top" src="../../assets/images/furniture.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Furniture</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a routerLink="furniture" class="btn btn-primary">Furniture</a>
          </div>
      </div>
      <div class="card" >
          <img style="height: 350px;" class="card-img-top" src="../../assets/images/lighting.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Lightings</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a routerLink="lightings" class="btn btn-primary">Lightings</a>
          </div>
      </div>
      <div class="card" >
          <img style="height: 350px;" class="card-img-top" src="../../assets/images/homedecor.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Decor</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a routerLink="decor" class="btn btn-primary">Decor</a>
          </div>
      </div>
      <div class="card" >
          <img style="height: 350px;" class="card-img-top" src="../../assets/images/eyepainting.jpg" alt="Card image watch">
          <div class="card-body">
            <h5 class="card-title">Paintings</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a routerLink="paintings" class="btn btn-primary">Paintings</a>
          </div>
      </div>
      </div>
        
    </div>
</div>
