.btn-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    background-color: #ddd;
  }
  
  .btn-group b {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .btn-group b:hover {
    background-color: #ddd;
  }
  h3{
    color: rgb(180, 245, 180);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }