/* ol li{
    align-items: center;
    margin-left: -1px;

}
#btn1{
    height: 30px;
    width: 90px;
    border-radius: 8px;
    color: white;
    background-color:blueviolet;
    margin-bottom: 5px;
    border: 2px solid black;
}
#btn2{
    height: 30px;
    width: 90px;
    border-radius: 8px;
    color: black;
    background-color: chartreuse;
}
ol li input{
    padding: 5px;
    font-size: 14pt;
    outline: none;
    line-height: 1.5;
    border-radius: 10px;
} */
/* div{
    margin-top: 20px;
} */