<!--The content below is only a placeholder and can be replaced.-->

<div >
  <!-- <h1>
    {{ title }}
  </h1> -->
<!-- <app-card [title]="posts[0].title" [content]="posts[0].content"></app-card>
<app-card [title]="posts[1].title" [content]="posts[1].content"></app-card> -->
 
  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->

  <!-- <app-test1 [child]="parentToChild" (fromChild)="onParent($event)"> 
  </app-test1> -->  
<!-- <app-prop (frmChild)="inParentFromChild($event)"></app-prop> -->
<!-- <app-test1 [child]="parentToChild"></app-test1> -->

<!-- <app-password></app-password> -->
<!-- <app-ngfor></app-ngfor> -->
<!-- <app-ngfor-dir></app-ngfor-dir> -->
 <!-- <app-test1></app-test1> -->
<!-- <app-ngif></app-ngif> -->
<!-- <app-ngswitch></app-ngswitch> -->
<!-- <app-ngstyle></app-ngstyle> -->
<!-- <app-ngclass></app-ngclass> -->
<!-- <app-assigndirective></app-assigndirective> -->
<!-- <app-prop></app-prop> -->
<!-- <app-practng-if></app-practng-if> -->

<!-- <p appCustom>normal paragraph</p>
<mat-slide-toggle>Toggle me!</mat-slide-toggle> -->
<!-- <app-templateform></app-templateform> -->
<!-- <app-template-form-assign></app-template-form-assign> -->
<!-- <app-reactiveform></app-reactiveform> -->
<!-- <app-reactive-assign></app-reactive-assign> -->
<!-- <app-temppractform></app-temppractform> -->
<!-- <app-template-registration-form></app-template-registration-form> -->

<!-- <ol>
  <li><input type="text" [(ngModel)]="Username"></li>
  <li><p>Username : {{Username}}</p></li>
  <li><button id="btn1" [disabled] = "!Username">Log In</button></li>
  <li><button id="btn2" (click) = " Clear(Username)">Clear</button></li>
</ol> -->

<!-- <button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-danger">Danger</button> -->

<!-- <img [src]="imageUrl" alt=""> -->

<!-- pract -->

<!-- <app-pract [prop] = "practChild"></app-pract>
<app-pract (practEvent)="practFun($event)"></app-pract> -->
<app-pract></app-pract>

<router-outlet></router-outlet> 
</div>