
<div class="container">
    <h3>Password Generator</h3>

    <div class="field">
    <label id="first">Enter Length</label>
    <input class="input" (input) = "onChangeLength($event.target.value)" type="number" id="num1">
    </div>

    <div class="field">
        <label id="second">Use Letters</label>
        <input (change) = "onChangeUseLetters()" type="checkbox" name="useLetters" id="letter">
        </div>

    <div class="field">
        <label id="third">Use Numbers</label>
        <input (change) = "onChangeUseNumbers()" type="checkbox" name="useNumbers" id="num">
        </div>

    <div class="field">
        <label id="fourth">Use Symbols</label>
        <input (change) = "onChangeUseSymbols()" type="checkbox" name="useSymbols" id="symb">
        </div>

     <button class="field" [disabled] = "!(length && (includeLetters || includeNumbers || includeSymbols))"
     (click)="onButtonClick()" id="btn"
      >Generate</button><br>
      
      
     <div>
        <label id="fifth">Your Password</label>
        <input [value] = "password" id="pass">
     </div> 

</div>