.container{
    background-color: ghostwhite;
    display: inline-block;
    width: 600px;
    height: 600px;
    text-align: center;
    margin-left: 500px;
    margin-top: 20px;
}
.Card{    
    margin-top: 40px;
}
h6{
    margin-right: 450px;
}
