


<!-- <hr>
<h2>Fashion Items</h2>
<ul>
  <li *ngFor="let item of fashionItems">
    <a routerLink="/fashiondetails/{{ item.id }}">     
      <h3>{{ item.name }}</h3>
    </a>
    <a [routerLink]="['/fashiondetails', item.id]" >{{item.id}}</a>
      <img [src]="item.imageUrl" alt="{{ item.name }}" width="150" height="150">
      <p>{{ item.description }}</p>
      <p>Price: ${{ item.price }}</p>   
  </li>
</ul> -->
<div class="container">
  <div class="row">
    <div class="col-md-3 mb-4" *ngFor="let product of products">
      <div class="card h-100">
        <img class="card-img-top border rounded" [src]="product.imageUrl" [alt]="product.name" style="height: 16rem;">
        <div class="card-body">
          <h4 class="card-title">{{ product.name }}</h4>
          <h5 class="card-price">${{ product.price }}</h5>
          <p style="font-family: 'Merriweather', serif;" class="card-text">{{ product.description }}</p>
        </div>
        <div class="card-footer">
          <a [routerLink]="['/fashiondetails', product.id]" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <h3><marquee  direction="right">Categories to Buy</marquee></h3>
  <div class="row">
    <div class="col-md-5 mb-5"  style="max-width: 15rem;" *ngFor="let category of categories">
      <div class="card h-100" (click)="onSelect(category)">
        <img [src]="category.imageUrl" alt="{{ category.name }}" class="card-img-top" style="height: 250px;">
        <div class="card-body">
          <h5 class="card-title">{{ category.name }}</h5>
        </div>
      </div>
    </div>
  </div>
</div> -->