/* .container{
    margin-top: 50px;
   
    height: 450px;  
    background-color: aliceblue;
    width:1200px
}
.card{
    border: 3px solid rgb(255, 162, 0);
    margin-top: 30px;
}
h3{
    color: rgb(180, 245, 180);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */

  
.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  
  .container {
    background-image: linear-gradient(to right top, #051937, #003d61, #006481, #008d94, #00b597, #36c89c, #57dba0, #76eea3, #69f2b9, #5ff6cd, #5bf9e0, #5ffbf1);    background-position: center center;
  }
  