/* .example-card {
    max-width: 400px;
  } */
  .content{
    display: inline-block;
    margin-left: 500px;
    text-align: center;
    margin-top: 70px;
    background-color:floralwhite;
    color: black;
    font-weight: bolder;
    width: 700px; 
    margin-right: 150px;   
  }
