
<div style="text-align:center">

<!-- <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="https://img.freepik.com/premium-vector/businesswoman-avatar-cartoon-character-profile_18591-50377.jpg?w=360" class="card-img-top" width="120px" height="300px">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <form ></form>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  
</div> -->


<!-- <app-reactive-from-assign></app-reactive-from-assign> -->
<!-- <app-reactiveform></app-reactiveform> -->
<!-- <app-registration-template-form></app-registration-template-form> -->

<ng-container *ngFor="let product of products">
  Product Name : <strong class="text-success">{{product.name}}</strong>
  Product Id : <strong class="text-success">{{product.id}}</strong>  
  </ng-container>

 <h3>User Data</h3>
 <table class="table table-success table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Username</th>
      <th>Company</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Website</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userData">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.username}}</td>
      <td>{{user.company.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.website}}</td>
      <td>{{user.address.suite}},{{user.address.street}},{{user.address.city}}-{{user.address.zipcode}}</td>
    </tr>
  </tbody>  
</table>

<router-outlet></router-outlet>
