

<!-- <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="https://img.freepik.com/premium-vector/businesswoman-avatar-cartoon-character-profile_18591-50377.jpg?w=360" class="card-img-top" width="120px" height="300px">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <form ></form>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  
</div> -->


<!-- <app-reactive-from-assign></app-reactive-from-assign> -->
<!-- <app-reactiveform></app-reactiveform> -->
<!-- <app-registration-template-form></app-registration-template-form> -->

<!-- <ng-container *ngFor="let product of products">
  Product Name : <strong class="text-success">{{product.name}}</strong>
  Product Id : <strong class="text-success">{{product.id}}</strong>  
  </ng-container>-->


<!-- <app-userservice></app-userservice> -->
<!-- <app-pipeexample></app-pipeexample> -->
<!-- <app-product-filter></app-product-filter> -->

<!-- <div class="container">
  <div class="row">  
    <div class="col-sm-6">
      <app-component1></app-component1>
    </div>    
      <div class="col-sm-6">
        <app-component2></app-component2>
      </div>
      <div class="col-sm-6">
        <app-component3></app-component3>
      </div>   
      <div class="col-sm-6">
        <app-component4></app-component4>
      </div>      
  </div>
</div> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-sm-6">
      <app-cmp1></app-cmp1>
    </div>
    <div class="col-sm-6">
      <app-cmp2></app-cmp2>
    </div>
  </div>
</div> -->

<div class="content">
  <header>
    <nav>
      <ul class="nav nav-tabs">
        <li style="margin-left: 5px;" class="nav-item"><a routerLinkActive="active" routerLink="/home" class="nav-link">Home</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/aboutus" class="nav-link">AboutUs</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/wikipedia" class="nav-link">Wikipedia</a></li>
     
        <li class="nav-item"><a routerLinkActive="active" routerLink="/contactus" class="nav-link">ContactUs</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/product" class="nav-link">Product</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/homesupplies" class="nav-link">Home Supplies</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/post" class="nav-link">Post</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/user" class="nav-link">User</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/login" class="nav-link">Login</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/order" class="nav-link">Order</a></li>
        <li class="nav-item">
          <a routerLinkActive="active" routerLink="/fashionn" class="nav-link">fashion</a>
        </li>
        <li class="nav-item">
          <!-- <a routerLinkActive="active" routerLink="/hook" class="nav-link">Hooks</a>
        </li>
        <li class="nav-item"> --> 
          <a routerLinkActive="active" routerLink="/adduser" class="nav-link">AddUser</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" routerLink="/userdetails" class="nav-link">User Details</a>
        </li>
        <li class="nav-item"> <a  routerLinkActive="active" routerLink="/customer" class="nav-link">Cutomer</a> </li>
        <li class="nav-item"> <a  routerLinkActive="active" routerLink="/admin" class="nav-link">Admin</a> </li>
        <li class="nav-item"> <a  routerLinkActive="active" routerLink="/todo" class="nav-link">ToDo</a> </li>      
      </ul>
    </nav>
  </header>
</div>

   
    <!-- <app-hooks [parentData]="data" *ngIf = "appchildExist">
  <h1 #child>
    This is child content coming from parent
  </h1>
</app-hooks> -->
<!-- <button class="btn btn-primary" (click)="changeFromParent()">Change From Parent</button> -->
<!-- <input type="text" placeholder="Enter value" (blur)="handleData($event)">

<button class="btn btn-danger" (click)="OnDestroy()">OnDestroy</button>
{{myObservable | async}} -->
 

<div class="container">
  <div >
    <router-outlet></router-outlet>
  </div>
</div>
